.workTime {
    font-size: 15px;
    font-weight: 500;
 }
 .workTitle {
    font-weight: bold;
    padding-left: 5px;
    border-left: 6px solid green;
 }
 .workEntry {
    width: 30%;
    border-width: 0 0 max(1px, 0.1em) 0;
    border-color: rgb(127, 126, 126);
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(230, 230, 230);
    margin-top: 5px;
 }