<div class="container-fluid aboutContent"> 
  <div class="row">
        <div class="col-sm-12">
          <h3>Työkokemus</h3>
          <div class="workEntry">
              <p class="workTitle">Lidl</p>
              <p class="workTime">5.9.2022 - </p>
              <p>Osa-aikainen (20h/vko) työsuhde opiskelujen ohessa.</p>
          </div>
          <div class="workEntry">
              <p class="workTitle">Kuusamo Hirsitalot</p>
              <p class="workTime">9.5.2022 - 31.7.2022</p>
              <p>Tuotantotyöntekijänä salvettujen hirsien käsittelijänä ja pakkaajana.</p>
          </div>
          <div class="workEntry">
              <p class="workTitle">Posti</p>
              <p class="workTime">1.6.2019 - 31.12.2019</p>
              <p class="workTime">1.8.2016 - 31.8.2016</p>
              <p>Useita eri pituisia työsuhteita opiskelujen ohessa. Päiväpostin lajittelua sekä jakoa.</p>
          </div>
          <div class="workEntry">
              <p class="workTitle">Verohallinto</p>
              <p class="workTime">15.12.2015 - 26.5.2016</p>
              <p>Tallentaja verohallinnon projektissa.</p>
          </div>
          <div class="workEntry">
              <p class="workTitle">Fujitsu Finland</p>
              <p class="workTime">11.3.2013 - 31.3.2014</p>
              <p>Help Desk -työntekijänä toimiminen ratkoen yritysasiakkaiden IT-ongelmia.</p>
          </div>
        </div>
  </div>
</div>