

<div class="container-fluid aboutContent"> 
    <div class="row">
        <div class="col-sm-6">
            <h2>Työkokemus</h2>
            <div class="schoolEntry">
                <p class="schoolTitle">Lidl</p>
                <p class="schoolTime">5.9.2022 - </p>
                <p  class="schoolDesc">Osa-aikainen (20h/vko) työsuhde opiskelujen ohessa.</p>
            </div>
            <div class="schoolEntry">
                <p class="schoolTitle">Kuusamo Hirsitalot</p>
                <p class="schoolTime">9.5.2022 - 31.7.2022</p>
                <p>Tuotantotyöntekijänä salvettujen hirsien käsittelijänä ja pakkaajana.</p>
            </div>
            <div class="schoolEntry">
                <p class="schoolTitle">Posti</p>
                <p class="schoolTime">1.6.2019 - 31.12.2019</p>
                <p class="schoolTime">1.8.2016 - 31.8.2016</p>
                <p>Useita eri pituisia työsuhteita opiskelujen ohessa. Päiväpostin lajittelua sekä jakoa.</p>
            </div>
            <div class="schoolEntry">
                <p class="schoolTitle">Verohallinto</p>
                <p class="schoolTime">15.12.2015 - 26.5.2016</p>
                <p>Tallentaja verohallinnon projektissa.</p>
            </div>
            <div class="schoolEntry">
                <p class="schoolTitle">Fujitsu</p>
                <p class="schoolTime">11.3.2013 - 31.3.2014</p>
                <p>Help Desk -työntekijänä toimiminen ratkoen yritysasiakkaiden IT-ongelmia.</p>
            </div>
          


            
            
        
          </div>
          <div class="col-sm-6">
            <h3>Koulutus</h3>
            <div class="schoolEntry">
                <p class="schoolTitle">Lapin AMK - Tieto- ja viestintätekniikka (insinööri)</p>
                <p class="schoolTime">2021 - </p>
                <p>Suuntautuminen ohjelmistotekniikan linjalle </p>
            </div>
            <div class="schoolEntry">
                <p class="schoolTitle">Tampereen ammattikorkeakoulu - Tietojenkäsittely (tradenomi)</p>
                <p class="schoolTime">2010 - 2020 </p>
                <p>Suuntautuminen tietoverkkopalveluihin</p>
            </div>
            <div class="schoolEntry">
                <p class="schoolTitle">Kalevan lukio - Ylioppilas</p>
                <p class="schoolTime">2006 - 2009</p>
                <p></p>
            </div>
            
          </div>
          
    </div>
  </div>