<div class="container-fluid aboutContent"> 
    <h3>Koulu</h3>
    <div class="row">
        <div class="col-md-1" style="background-color: antiquewhite;">
            <p class="fw-bold">2021 -</p>
        </div>
        <div class="col-md-11" style="background-color: beige;">
            <p>Lapin AMK - tieto- ja viestintätekniikka (insinööri)</p>
            <p>Suuntautuminen: ohjelmistotuotanto</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" style="background-color: antiquewhite;">
            <p class="fw-bold">2010 - 2020</p>
        </div>
        <div class="col-md-11" style="background-color: beige;">      
            <p>TAMK - tietojenkäsittely (tradenomi)</p>
            <p>Suuntautuminen: tietoverkkopalvelut</p>
        </div>
    </div>
</div>