body {
    background: fixed;
    background-color:  rgb(25, 43, 67) ;
    font-family: 'Open Sans', sans-serif;
    color: #c08539;
    height: auto;
}
.linkki:hover {
    /*color: #96b389;*/
    color: #ff6600 !important;
}
.linkki {
    color: #e99312 !important;
}

.image {
    margin-bottom: 20px;

}
.hoverLinks {
    text-decoration-style: dotted;
    color: rgb(255, 153, 0);
    cursor: pointer;
}
.projectList {
    width: auto;
}

.highlightedButton
{
    color: aqua !important;
}
.aboutContent {
    padding: 25px;
}


img {
    width: 50%;
}

